 body {
  background-color: #272823;
  color: #EEE;
}
html {
  background-color: #272823;
  color: #EEE;
}

table {
  text-align: center;
}

#nav{text-align: center;}
table {
  text-align: center;
}
